<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/createProduct">create product</a>
<h1>products</h1>
<table border="1">
    <tr>
        <td>Image</td>
        <td>Name</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="product : ${listProduct}">
        <tr>
            <td><img th:src="upload/${product.image}" border="3" width="300" height="100"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td><a th:href="@{/edit-categories/__${product.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-categories/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/home'(page=${listProduct.number - 1})}" th:if="${listProduct.hasPrevious()}">Previous</a>
    <span th:text="${listProduct.number + 1}"></span>/<span th:text="${listProduct.totalPages}"></span>
    <a th:href="@{'/home'(page=${listProduct.number + 1})}" th:if="${listProduct.hasNext()}">Next</a>
</div>
</body>
</html>