@charset "UTF-8";

@media all
{
 * { margin:0; padding: 0 }
 option { padding-left: 0.4em }
 * html body * { overflow:visible; }
 * html iframe, * html frame { overflow:auto; }
 * html frameset { overflow:hidden; }
 fieldset, img { border: 0 solid; }
 ul, ol, dl { margin: 0 }
 li { margin-left: 0; line-height: 1.5em;list-style-type:none;;}
 dt { font-weight: bold; }
 dd { margin: 0 0 1em 2em; }
 blockquote { margin: 0 0 1em 1.5em; }
 .hideboth .col3 {margin-left: 0; margin-right: 0}
 .hidecol1 .col3 {margin-left: 0; margin-right: 200px}
 .hidecol2 .col3 {margin-left: 200px; margin-right: 0}

 .hideboth .col1, .hideboth .col2 {display:none}
 .hidecol1 .col1 {display:none}
 .hidecol2 .col2 {display:none}
 .clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden
 }
 .clearfix { display: block }
 .floatbox { overflow:hidden }
 .ie_clearing { display: none }
 .subcolumns, .subcolumns_oldgecko {
 width: 100%;
 overflow:hidden;
 }
 .subcolumns_oldgecko { float:left }

 .c50l, .c25l, .c33l, .c38l, .c66l, .c75l, .c62l {float: left; }
 .c50r, .c25r, .c33r, .c38r, .c66r, .c75r, .c62r {float: right; margin-left: -5px; }

 .c25l, .c25r { width: 25% }
 .c33l, .c33r { width: 33.333% }
 .c50l, .c50r { width: 50% }
 .c66l, .c66r { width: 66.666% }
 .c75l, .c75r { width: 75% }
 .c38l, .c38r { width: 38.2% }
 .c62l, .c62r { width: 61.8% }

 .subc { padding: 0 0.5em }
 .subcl { padding: 0 1em 0 0 }
 .subcr { padding: 0 0 0 1em }
 .skip, .hideme, .print {
 position: absolute;
 top: -1000em;
 left: -1000em;
 height: 1px;
 width: 1px;
 }
 .skip:focus, .skip:active {
 position: static;
 top: 0;
 left: 0;
 height: auto;
 width: auto;
 }
 #header { width:100%;}
 .col1 { float:left;}
 .col1_content { }
 .col2 { float:right;}
 .col2_content { }
 .col3 { float:left;}
 .col3_content { }
 html * { font-size: 100% }

 textarea, pre, tt, code {font-family: Arial, Helvetica, sans-serif; font-size:12px; }
 body {font-family: Arial, Helvetica, sans-serif; font-size:12px; color:#3c3c3c; background-color:#f5f6f8; text-align:left; }

 h2,h5,h6 { margin: 0 0 0.25em 0; }
 h3{font-size:18px; color:#515151}
 h4{font-size:14px;}
 p { line-height: 1.5em; margin: 0; text-align:justify;}

 br{ line-height:12px;}
 ul, ol, dl { line-height: 1.5em; margin: 0 }
 li { margin-left: 0; line-height: 1.5em;list-style-type:none;}
 hr {
 color: #f5f6f8;
 background:transparent;
 margin: 0 0 0.5em 0;
 padding: 0 0 0.5em 0;
 border:0;
 border-bottom: 1px #000 solid;
 }
 a{color:#f66b00; text-decoration:none; }
 a:hover{font-weight:bold; color:#f66b00;}
 a:active{font-weight:normal;}

 
 #header,#nav, #main, #main-c, #footer { clear:both; }
 
 /*-----------------------------------FLOAT FORMAT-----------------------------------*/ 
.float_left { float: left;}
 .float_right { float: right;}
.clear{ clear:both;}
.clear_left{ clear:left;}
.clear_right{ clear:right;}

/*-----------------------------------TEXT FORMAT-----------------------------------*/ 
.center { text-align:center;}
 .left { text-align:left;}
 .right { text-align:right;}
.uper{ text-transform:uppercase;}
.top{ vertical-align:top;}
.mid{ vertical-align:middle;}
.linethrough{ text-decoration:line-through;}
 cite, blockquote { font-style:italic }
 blockquote { margin: 0 0 1em 1.5em }
 strong,b { font-weight: bold }
 em,i { font-style:italic }
 pre, code { font-family: monospace; font-size: 1.1em; }
 acronym, abbr {letter-spacing: .07em; border-bottom: .1em dashed #c00;cursor: help;} 
/*-----------------------------------FONT SIZE---COLOR-----------------------------------*/ 
.fs11{ font-size:11px;}
.fs16{ font-size:16px;}
.red{ color:#C60005;}
.black{ color:#484848}
.w_color{ color:#fff;}
.grey{ color:#999 !important}
.green{ color:#6C0}

/*-----------------------------------BORDER-----------------------------------*/
.bs1{ border:solid 1px #aeaeae;}

/*-----------------------------------WIDTH-----------------------------------*/
.w200{ width:200px;}


/*--------------------------------PADDING------------------------------*/ 
.p27t{ padding-top:27px;}
.p10t{ padding-top:10px;}
.p7t{ padding-top:7px;}
.p5t{ padding-top:5px;}

.p10r{ padding-right:10px;}
.p20r{ padding-right:20px;}

.p10l{ padding-left:10px;}
.p80l{ padding-left:124px;}
.p30l{ padding-left:30px;}
.p130l{padding-left:130px;}

.p20b{ padding-bottom:20px;}
.p10b{ padding-bottom:10px;}
.p5b{ padding-bottom:5px;}
.p50b{ padding-bottom:50px;}


/*--------------------------------MARGIN------------------------------*/ 
.m10l{ margin-left:10px;}
.m5l{ margin-left:5px;}
.m5r{margin-right:5px;}
.m5t{margin-top:5px;}
.m7t{margin-top:7px;}
.m2l{margin-left:2px;}
.m20l{ margin-left:20px;}
.m30l{ margin-left:30px !important;}
.m60l{margin-left:178px;}
.m20b{margin-bottom:20px;}
.m5b{margin-bottom:5px;}

.m10r{ margin-right:10px;}
.m60r{ margin-right:60px !important;}

.m10t{ margin-top:10px;}
.m15t{ margin-top:15px;}
.m20t{ margin-top:20px;}
.m40t{margin-top:30px;}
.m30t{ margin-top:30px !important;}
.m20b{margin-bottom:20px;}
.m12l{margin-left:130px;}
.m13l{margin-left:112px;}

/*--------------------------------BACKGROUND------------------------------*/ 

.logo{background:url(../images/_sprite.png) no-repeat -14px -55px;
width: 195px;
height: 64px;
text-indent:-999px;
position:relative;
top:15px;}
.private{width:1000px; margin:0 auto;}
#footer{background-color:#dcdddf; width:990px; height:1px; margin:0 auto; position:relative;}
#footer span{position:relative; top:10px;padding:5px}
#nav{background:url(../images/_sprite.png) no-repeat -3px -4px;
width: 998px;
height: 32px;
position:relative;
top:35px;}

.menu {
position: relative;
margin-left: 30px;
}

.menu a {
display: block;
padding: 0 25px 0 25px;
color:#555;
font-weight:bold;
font-size:15px;
font-family:utm_helvetins;
text-transform:uppercase;
font-weight:normal;
}
.menu a:hover {
background: rgb(255,120,43); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,120,43,1) 0%, rgba(255,124,53,1) 49%, rgba(255,103,15,1) 51%, rgba(255,103,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,120,43,1)), color-stop(49%,rgba(255,124,53,1)), color-stop(51%,rgba(255,103,15,1)), color-stop(100%,rgba(255,103,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff782b', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */
-webkit-border-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color:#fff;
}
.menu li.current a{

background: rgb(255,120,43); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,120,43,1) 0%, rgba(255,124,53,1) 49%, rgba(255,103,15,1) 51%, rgba(255,103,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,120,43,1)), color-stop(49%,rgba(255,124,53,1)), color-stop(51%,rgba(255,103,15,1)), color-stop(100%,rgba(255,103,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,120,43,1) 0%,rgba(255,124,53,1) 49%,rgba(255,103,15,1) 51%,rgba(255,103,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff782b', endColorstr='#ff670f',GradientType=0 ); /* IE6-9 */

-webkit-border-radius: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color:#fff;
height:32px;
position:relative;
top:-10px;
line-height:32px;
}

.menu ul {
list-style-type: none;
padding-top: 5px;
}

.menu li {
float: left;
position: relative;
padding: 3px 0;
text-align: center;
}

.menu ul.sub-menu{
display: none;
position: absolute;
top: 28px;
left: -10px;
padding: 10px;
z-index: 90;
background-color:#e6e6e6;
opacity:0.85;
filter:alpha(opacity=85);

}
.menu ul.sub-menu a{

font-family:Arial, Helvetica, sans-serif !important;
text-transform:capitalize !important;
}
.menu ul.sub-menu a:hover{
background:none !important;

}

.menu ul.sub-menu li{
text-align: left;

}

.menu li:hover ul.sub-menu {
display: block;
white-space: nowrap; 
}

.pathname{margin-top:45px;}
.pathname ul li{display:inline; color:#333}
.pathname ul li a{color:#333}
.content{width:688px; background-color:#fff; border: #DCDCDC solid 1px;; height:98%;}
.bgcontent{width:688px; background-color:#fff; border:solid #e6e6e6 2px; height:100%;}
.content1{width:688px; background-color:#fff; border:solid #DCDCDC 1px; height:98%;}
.bgcontent1{width:688px; background-color:#e6e6e6; border:solid #e6e6e6 2px; height:100%;}

.fixContent{margin:5px;}

.sideBar{width:298px; background-color:#fff; height:98%;}
.bgSideBar{width:298px; background-color:#fff; border:solid #DCDCDC 1px; height:100%;}
.fixSideBar{margin:15px;}
.fixSideBar ul li{display:inline;}
.line{background:url(../images/_sprite.png) no-repeat -269px -50px;
width: 658px;
height: 1px;}

.list_div li {
border-bottom: 1px #ccc dotted;
margin-bottom: 20px;
padding-bottom: 20px;
float: left;
width: 100%;}

.lineSideBar{background:url(../images/_sprite.png) no-repeat -269px -50px; width: 270px; height: 1px; margin-top:10px;}

.titleSideBar{
width:298px;
height:35px;
position:relative;
top:-15px;
left:-15px;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 94%, rgba(226,226,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(94%,rgba(239,239,239,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}
.title{font-family:utm_helvetins; font-weight:normal; font-size:18px; color:#555; line-height:18px;}
.titleSideBar h2{left: 20px; position: relative; top: 7px; color:#333;}
.titleSideBar h2 span{position:relative; left:10px;}
.titleSideBar .icon{background:url(../images/_sprite.png) no-repeat -988px -47px; height: 19px;}
.imgShow{width:260px; height:99px;}
.slide{width:260px;}
/*begin slide show*/

.slideshowlite {
position: relative;
overflow: hidden;
}

.slideshowlite a {
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
text-align: center;
}

.slideshowlite img {
border: none;
}


/*end slide show*/

.readMore{margin-left:5px; font-style:italic;}

.updateNew{position:relative;}
.imgCover{
width: 124px;
height: 170px;
border:solid #CCC 1px; 
}
.borderImgCover{border:solid #CCC 1px; position:absolute; width:73px; height:102px; top:-1px; left:-2px;}

.imgCover1{
width:85px; 
height:120px; 
border:solid #EEE 1px; 
}
.borderImgCover1{border:solid #CCC 1px; position:absolute; width:87px; height:122px; top:-2px; left:-2px;}
.smallimgCover{width:57px; height:74px;}
.smallborderImgCover{border:solid #CCC 1px; position:absolute; width:55px; height:72px; top:0px; left:0px;}
.w160{width:160px}
.w190{width:190px}

.borderImgCoverShow{
display: block;
padding: 3px;
line-height: 20px;
border: 1px solid #ddd;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
}
.borderImgCoverShow:hover {
background-color: #f66b00;
}
.titleStory{margin-left:10px;}
.titleStory h2{width:188px;}
.titleStory span{position:relative; color:#999}
.bgCountTop{
float: left;
display: inline-block;
color: white;
text-align: center;
margin: 0px 5px 0 3px;
position: relative;
background: #679a26;
line-height: 18px;
font-size: 10px;
height: 18px;
width: 18px;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
-o-border-radius: 50px;
-ms-border-radius: 50px;
}
.bgCount{
float: left;
display: inline-block;
color: white;
text-align: center;
margin: 0px 5px 0 3px;
position: relative;
background: #FDA500;
line-height: 18px;
font-size: 10px;
height: 18px;
width: 18px;
border-radius: 50px;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
-o-border-radius: 50px;
-ms-border-radius: 50px;
}
.imgAvatar{width:66px; height:60px;}

.categoriesTop{background:url(../images/_sprite.png) no-repeat -4px -140px;width: 108px; height: 55px;}
.categoriesTop h2{font-size:18px; text-transform:uppercase; color:#fff; position:relative; top:10px; left:10px; font-family:utm_helvetins; font-weight:normal;}
.categoriesCenter{background:url(../images/categoriesCenter.png) top repeat-y; width:108px;}

.categoriesCenter ul li{line-height:30px; margin-left:20px;}
.categoriesCenter ul li a{color:#333; display:block; font-weight:bold}
.categoriesCenter ul li a:hover{background:url(../images/_sprite.png) no-repeat -4px -265px; width: 82px; height: 29px; color:#e23f02; font-weight:bold;}
.catSelect {background:url(../images/_sprite.png) no-repeat -4px -265px; width: 82px; height: 29px; font-weight:bold;}
.categoriesCenter li.current a{background:url(../images/_sprite.png) no-repeat -4px -265px; width: 82px; height: 29px; color:#e23f02; font-weight:bold;}
.categoriesBottom{background:url(../images/_sprite.png) no-repeat -4px -212px; width: 102px; height: 40px;}
.showCategories{float:left; margin:45px 0 10px 0;}
.showCategories li{display:inline-table; padding:0 14px;}
.re{position:relative}
.titleShow{font-size: 13px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width:124px; padding-top:5px}
.author{font-size:11px; color:#999; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width:124px;}
.logoFace{background:url(../images/_sprite.png) no-repeat -125px -135px; width: 124px; height: 28px; position:relative; top:4px; left:12px; text-indent:-9999px; cursor:pointer;}

.faceLike {background-color: #CAD4E7;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 height: 22px;
 left: 155px;
 position: relative;
 top: -23px;
 width: 60px;
border:solid #99add2 1px;
cursor:pointer;
display:block;
}
.faceLike1 {background-color: #CAD4E7;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 height: 22px;
 position: relative;
 top: 5px;
left:-20px;
 width: 60px;
border:solid #99add2 1px;
cursor:pointer;
display:block;
}
.faceLike1 span{width:200px;}

.iconface{background:url(../images/_sprite.png) no-repeat -184px -193px;
width: 12px;
height: 12px;
position:absolute;
top:5px;
left:5px;
padding-left:17px;
color:#3b579d;
font-weight:bold;
line-height:11px;}
.faceLikePress{background-color: ##000000;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 height: 22px;
 left: 155px;
 position: relative;
 top: -23px;
 width: 80px;
border:solid #CCCCCC 1px;
cursor:pointer;
}
.iconfacePress{background:url(../images/_sprite.png) no-repeat -186px -222px;
height: 8px;
position:absolute;
top:5px;
left:5px;
padding-left:17px;
color:#aaaaaa;
font-weight:bold;
line-height:11px;}
.count{color:#999}
.searchList li{display:inline-table; padding-left:10px;}
.drop{height:18px; width:90px; font-family:Arial, Helvetica, sans-serif; font-size:12px;}

.anpha{
padding-bottom:10px;
text-align: center;

}
.anpha ul li{
text-align:center;
list-style:none;
display:inline-block;
margin:-0.98px;
}
.anpha ul li a{
color:#333;
}

.anpha .fillter{
cursor: pointer;
border: solid #CCC 1px;
width: 21px;
height: 21px;
text-align: center;
line-height: 21px;
}
.anpha .fillter:hover{
background: rgb(255,183,107);
}

.h2{text-transform:uppercase; color:#e24800;}

.listInfo{padding: 0 0 0 10px;width:233px}
.listTitle{color:#e24800; font-size:14px; }
.block{float:left; position:relative;}
.desStory{width:570px; margin-top:10px;}
.authorBlock{font-size:11px; color:#999;}
.b_color{color:#333}
.button{background:url(../images/_sprite.png) no-repeat -294px -72px; width: 63px; height: 29px; color:#fff; line-height:30px; text-align:center; display:block;}
.button:hover{background-position:-294px -113px; color:#fff}


/*pagination*/

.pagination{margin-top:10px;}
.pagination li{ margin: 4px 0 0 5px; padding:0; display:block; float:left; border:#e3e3e3 solid 1px;}
.pagination li a{ display:block; height:25px; background:#f8f8f8; border-top:#fff solid 1px; padding:0 10px; line-height:25px; min-width:5px; font-weight:bold; color:#333333;}
.pagination li a:hover{ background:#E4E4E4; color:#000; border-top:#D8D8D8 solid 1px}
.pagination li.current a{background:#df3d02; color:#FFF; border-top:#fff solid 1px}
.pagination li a.first-btn{color:#333333;}
.pagination li a.first-btn:hover{ background-color:#eeeeee}
.pagination li a.last-btn{color:#333333;}
.pagination li a.last-btn:hover{ background-color:#eeeeee}
.pagination li a.prev-btn{color:#333333;}
.pagination li a.prev-btn:hover{ background-color:#eeeeee}
.pagination li a.next-btn{color:#333333;}
.pagination li a.next-btn:hover{ background-color:#eeeeee}
.disabled{color:#d9d9d9 !important; background-color:#f1f1f1 !important}
.tick{background:none!important; color:#333333!important; border:none !important; margin:0 10px 0 15px !important; line-height:25px !important;}

/*---------search---------*/

.search-bg{ background:url(../images/_sprite.png) no-repeat -383px -72px;
width: 443px;
height: 29px;
float:right; 
position:relative; 
left:-148px;
top:23px;
}
*+html .search-bg{
margin-left:0
}
.search-bg .input-text{ 
float:left; 
width:435px; 
height:32px; 
background:none; 
border:none; 
color:#717171; 
padding: 0 0 0 10px; 
line-height:29px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
outline: none;
}

.search-bg .btn-search{ 
float:left; background:url(../images/_sprite.png) no-repeat -386px -113px;
width: 148px;
height: 29px;
border:none; 
text-indent: -999px; 
text-transform: capitalize; 
margin:-32px 0 0 443px;
cursor:pointer;
color:red;
}
.keyword{position:relative; top:60px; left:214px; color:#999; width:50%}
.des{padding:0 30px 0 15px;}
.introStory{width:680px;}
.chapter{background-color:#e6e6e6; margin-top:20px; height:30px; line-height:28px; }
.chapter li{display:inline; padding:0 35px;}
.chapter li a{color:#121212}
.readStory{font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.tabRead{}
.tabRead li{display:inline; padding:0 30px}
.titleStoryRead{color:#ff7800; font-size:24px; margin-top:20px}

.read{font-size:14px;}
.newChapter{background:url(../images/_sprite.png) no-repeat -300px -165px; width: 42px; height: 41px; position:absolute; top:66px; left:45px;}
.newChapter span{font-size:20px; color:#fff; font-family:utm_helvetins; font-weight:normal; font-style:italic; position:relative; top:10px;}
/*---------------------------tab-----------------------------------------------------------------------------*/

.ui-helper-hidden {
display: none;
}
.ui-helper-hidden-accessible {
border: 0;
clip: rect(0 0 0 0);
height: 1px;
margin: -1px;
overflow: hidden;
padding: 0;
position: absolute;
width: 1px;
}
.ui-helper-reset {
margin: 0;
padding: 0;
border: 0;
outline: 0;
line-height: 1.3;
text-decoration: none;
font-size: 100%;
list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
content: "";
display: table;
border-collapse: collapse;
}
.ui-helper-clearfix:after {
clear: both;
}
.ui-helper-clearfix {
min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
width: 100%;
height: 100%;
top: 0;
left: 0;
position: absolute;
opacity: 0;
filter:Alpha(Opacity=0);
}

.ui-front {
z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
display: block;
text-indent: -99999px;
overflow: hidden;
background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.ui-accordion .ui-accordion-header {
display: block;
cursor: pointer;
position: relative;
margin-top: 2px;
padding: .5em .5em .5em .7em;
min-height: 0; /* support: IE7 */
}
.ui-accordion .ui-accordion-icons {
padding-left: 2.2em;
}
.ui-accordion .ui-accordion-noicons {
padding-left: .7em;
}
.ui-accordion .ui-accordion-icons .ui-accordion-icons {
padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
position: absolute;
left: .5em;
top: 50%;
margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
padding: 1em 2.2em;
border-top: 0;
overflow: auto;
}
.ui-autocomplete {
position: absolute;
top: 0;
left: 0;
cursor: default;
}
.ui-button {
display: inline-block;
position: relative;
padding: 0;
line-height: normal;
margin-right: .1em;
cursor: pointer;
vertical-align: middle;
text-align: center;
overflow: visible; /* removes extra width in IE */
}
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
text-decoration: none;
}
/* to make room for the icon, a width needs to be set here */
.ui-button-icon-only {
width: 2.2em;
}
/* button elements seem to need a little more width */
button.ui-button-icon-only {
width: 2.4em;
}
.ui-button-icons-only {
width: 3.4em;
}
button.ui-button-icons-only {
width: 3.7em;
}

/* button text element */
.ui-button .ui-button-text {
display: block;
line-height: normal;
}
.ui-button-text-only .ui-button-text {
padding: .4em 1em;
}
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
padding: .4em;
text-indent: -9999999px;
}
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
padding: .4em 1em .4em 2.1em;
}
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
padding: .4em 2.1em .4em 1em;
}
.ui-button-text-icons .ui-button-text {
padding-left: 2.1em;
padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
padding: .4em 1em;
}

/* button icon element(s) */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
position: absolute;
top: 50%;
margin-top: -8px;
}
.ui-button-icon-only .ui-icon {
left: 50%;
margin-left: -8px;
}
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
left: .5em;
}
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
right: .5em;
}

/* button sets */
.ui-buttonset {
margin-right: 7px;
}
.ui-buttonset .ui-button {
margin-left: 0;
margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
border: 0;
padding: 0;
}
.ui-datepicker {
width: 17em;
padding: .2em .2em 0;
display: none;
}
.ui-datepicker .ui-datepicker-header {
position: relative;
padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
position: absolute;
top: 2px;
width: 1.8em;
height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
left: 2px;
}
.ui-datepicker .ui-datepicker-next {
right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
display: block;
position: absolute;
left: 50%;
margin-left: -8px;
top: 50%;
margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
margin: 0 2.3em;
line-height: 1.8em;
text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
font-size: 1em;
margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
width: 49%;
}
.ui-datepicker table {
width: 100%;
font-size: .9em;
border-collapse: collapse;
margin: 0 0 .4em;
}
.ui-datepicker th {
padding: .7em .3em;
text-align: center;
font-weight: bold;
border: 0;
}
.ui-datepicker td {
border: 0;
padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
display: block;
padding: .2em;
text-align: right;
text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
background-image: none;
margin: .7em 0 0 0;
padding: 0 .2em;
border-left: 0;
border-right: 0;
border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
float: right;
margin: .5em .2em .4em;
cursor: pointer;
padding: .2em .6em .3em .6em;
width: auto;
overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
width: 95%;
margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
clear: left;
}
.ui-datepicker-row-break {
clear: both;
width: 100%;
font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
right: 2px;
left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
left: 2px;
right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
right: 1px;
left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
left: 1px;
right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
border-right-width: 0;
border-left-width: 1px;
}
.ui-dialog {
position: absolute;
top: 0;
left: 0;
padding: .2em;
outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
padding: .4em 1em;
position: relative;
}
.ui-dialog .ui-dialog-title {
float: left;
margin: .1em 0;
white-space: nowrap;
width: 90%;
overflow: hidden;
text-overflow: ellipsis;
}
.ui-dialog .ui-dialog-titlebar-close {
position: absolute;
right: .3em;
top: 50%;
width: 21px;
margin: -10px 0 0 0;
padding: 1px;
height: 20px;
}
.ui-dialog .ui-dialog-content {
position: relative;
border: 0;
padding: .5em 1em;
background: none;
overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
text-align: left;
border-width: 1px 0 0 0;
background-image: none;
margin-top: .5em;
padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
margin: .5em .4em .5em 0;
cursor: pointer;
}
.ui-dialog .ui-resizable-se {
width: 12px;
height: 12px;
right: -5px;
bottom: -5px;
background-position: 16px 16px;
}
.ui-draggable .ui-dialog-titlebar {
cursor: move;
}
.ui-menu {
list-style: none;
padding: 2px;
margin: 0;
display: block;
outline: none;
}
.ui-menu .ui-menu {
margin-top: -3px;
position: absolute;
}
.ui-menu .ui-menu-item {
margin: 0;
padding: 0;
width: 100%;
/* support: IE10, see #8844 */
list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
}
.ui-menu .ui-menu-divider {
margin: 5px -2px 5px -2px;
height: 0;
font-size: 0;
line-height: 0;
border-width: 1px 0 0 0;
}
.ui-menu .ui-menu-item a {
text-decoration: none;
display: block;
padding: 2px .4em;
line-height: 1.5;
min-height: 0; /* support: IE7 */
font-weight: normal;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
font-weight: normal;
margin: -1px;
}

.ui-menu .ui-state-disabled {
font-weight: normal;
margin: .4em 0 .2em;
line-height: 1.5;
}
.ui-menu .ui-state-disabled a {
cursor: default;
}

/* icon support */
.ui-menu-icons {
position: relative;
}
.ui-menu-icons .ui-menu-item a {
position: relative;
padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
position: absolute;
top: .2em;
left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
position: static;
float: right;
}
.ui-progressbar {
height: 2em;
text-align: left;
overflow: hidden;
}
.ui-progressbar .ui-progressbar-value {
margin: -1px;
height: 100%;
}
.ui-progressbar .ui-progressbar-overlay {
background: url("images/animated-overlay.gif");
height: 100%;
filter: alpha(opacity=25);
opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
background-image: none;
}
.ui-resizable {
position: relative;
}
.ui-resizable-handle {
position: absolute;
font-size: 0.1px;
display: block;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
display: none;
}
.ui-resizable-n {
cursor: n-resize;
height: 7px;
width: 100%;
top: -5px;
left: 0;
}
.ui-resizable-s {
cursor: s-resize;
height: 7px;
width: 100%;
bottom: -5px;
left: 0;
}
.ui-resizable-e {
cursor: e-resize;
width: 7px;
right: -5px;
top: 0;
height: 100%;
}
.ui-resizable-w {
cursor: w-resize;
width: 7px;
left: -5px;
top: 0;
height: 100%;
}
.ui-resizable-se {
cursor: se-resize;
width: 12px;
height: 12px;
right: 1px;
bottom: 1px;
}
.ui-resizable-sw {
cursor: sw-resize;
width: 9px;
height: 9px;
left: -5px;
bottom: -5px;
}
.ui-resizable-nw {
cursor: nw-resize;
width: 9px;
height: 9px;
left: -5px;
top: -5px;
}
.ui-resizable-ne {
cursor: ne-resize;
width: 9px;
height: 9px;
right: -5px;
top: -5px;
}
.ui-selectable-helper {
position: absolute;
z-index: 100;
border: 1px dotted black;
}
.ui-slider {
position: relative;
text-align: left;
}
.ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 1.2em;
height: 1.2em;
cursor: default;
}
.ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: .7em;
display: block;
border: 0;
background-position: 0 0;
}

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
filter: inherit;
}

.ui-slider-horizontal {
height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
top: -.3em;
margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
top: 0;
height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
right: 0;
}

.ui-slider-vertical {
width: .8em;
height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
left: -.3em;
margin-left: 0;
margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
left: 0;
width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
top: 0;
}
.ui-spinner {
position: relative;
display: inline-block;
overflow: hidden;
padding: 0;
vertical-align: middle;
}
.ui-spinner-input {
border: none;
background: none;
color: inherit;
padding: 0;
margin: .2em 0;
vertical-align: middle;
margin-left: .4em;
margin-right: 22px;
}
.ui-spinner-button {
width: 16px;
height: 50%;
font-size: .5em;
padding: 0;
margin: 0;
text-align: center;
position: absolute;
cursor: default;
display: block;
overflow: hidden;
right: 0;
}
/* more specificity required here to overide default borders */
.ui-spinner a.ui-spinner-button {
border-top: none;
border-bottom: none;
border-right: none;
}
/* vertical centre icon */
.ui-spinner .ui-icon {
position: absolute;
margin-top: -8px;
top: 50%;
left: 0;
}
.ui-spinner-up {
top: 0;
}
.ui-spinner-down {
bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s {
/* need to fix icons sprite */
background-position: -65px -16px;
}
.ui-tabs {
position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
padding: .2em;
}
.ui-tabs .ui-tabs-nav {
margin: 0;
padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
list-style: none;
float: left;
position: relative;
top: 0;
margin: 1px .2em 0 0;
border-bottom-width: 0;
padding: 0;
white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
float: left;
padding: .5em 1em;
text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
margin-bottom: -1px;
padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
cursor: text;
}
.ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
display: block;
border-width: 0;
padding: 1em 1.4em;
background: none;
}
.ui-tooltip {
padding: 8px;
position: absolute;
z-index: 9999;
max-width: 300px;
-webkit-box-shadow: 0 0 5px #aaa;
box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
border-width: 2px;
}

/* Component containers
----------------------------------*/
.ui-widget {
font-family: Verdana,Arial,sans-serif;
font-size: 1.1em;
}
.ui-widget .ui-widget {
font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
font-family: Verdana,Arial,sans-serif;
font-size: 1em;
}
.ui-widget-content {

}
.ui-widget-content a {
}
.ui-widget-header {

font-weight: bold;
background: rgb(237,237,237); /* Old browsers */
background: rgb(247,247,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
border-bottom:solid #ACACAC 1px;
}
.ui-widget-header a {
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {

border: 1px solid #d3d3d3;
background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
font-weight: normal;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
border: 1px solid #999999;
background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
font-weight: normal;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
border: 1px solid #aaaaaa;
background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #212121;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
text-decoration: none;
}



/*----------------------------------end tab------------------------------------*/
}

/*----------------------------------My Style------------------------------------*/
.item div {
float: left;
padding-top: 5px;
height: 20px;
}
.truyeninfo img{
float:left;
}
.truyeninfo li{
display:table;
}
.cp1{
padding-right:10px;
width: 200px;
text-align:right;
font-weight:bold;
}
.cp2{
width: 270px;
display:table;
}
.cp2 a{
margin-left:0px;
}

.truyeninfo {
width: 100%;
display: table;
}

.story_description {
max-height: 110px;
height: expression(this.height<110?110:true);
display: block;
overflow: hidden;
}

.chuongmoi {
font-size: 14px;
line-height: 20px;
}

.chuongmoi a{
color: #222222;
font-size:14px;
}

.chuongmoi a:visited {
font-size: 13px;
color: #888;
}

.chuongmoi>div>a>div{
	width: 8%;
    float: left;
}

.page-split{
margin: 0 auto;
display: table;
}
.page-split .active {
background-color: #df3d02;
color: #fff;
}
.page-split a{
border: 1px solid;
text-align: center;
text-decoration: none;
width: 22px;
padding: 1px;
background-color: #C4C4C4;
border-color: #fff;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
color: #fff;
display: inline;
float: left;
margin-right: 2px;
font-size: 12px;
}

h1{
 margin: 0;
 padding: 0;
}

.menuchild li div
{
display:none;
background-color:#FFF;
line-height:24px;
font-size:17px;
z-index:9999;
border: 1px solid #f66b00;
}

.menuchild li:hover div{
display:table;
}

.mybutton {
color: #fff;
background-color: #CCC;
padding: 2px 9px 2px 9px;
border: 1px solid #A2A2A2;
border-radius: 3px;
}
.mybutton2 {
cursor:pointer;
background: #FFFFFF;
border: 1px solid #E1E1E1;
padding: 3px 10px;
font-weight: bold;
}

.mybutton2:hover {
background: #f66b00;
color: #FFFFFF;
border: 1px dashed #FFFFFF;
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
-o-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
-ms-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.1);
}

#prefooter{
display: table;
width:100%;
padding: 20px 0 0 0;
line-height:1.4;
}
#prefooter a{
color:#5c5c5c;
}
.pt10{
padding:10px 20px 10px 20px;
float:left;
border-right: 1px #BBB solid;
height:100%;
}
.c1 {
width:13%;
}
.c2 {
width:33%;
}

.f14{
font-size:14px;
}
.f15{
font-size:15px;
}
.f16{
font-size:16px;
}

.hot-bg{
display:table;
width: 998px;
background-color: #fff;
border: solid #DCDCDC 1px;
}

.hot-prev, .hot-next {
position: absolute;
top: 50%;
margin-top: -34px;
left: 0;
line-height:60px;
text-align:center;
font-weight: bold;
opacity:0.8;
filter:alpha(opacity=80); /* For IE8 and earlier */
}

.hot-next {
left: auto;
right: 0;
}

.storyinfo{
	display: table;
    width: 49%;
    float: left;
}

.storyinfo:hover{
background-color:#EEE;
}

.home-tab{
font-weight:bold;
float:left;
width:33%;
text-align:center;
cursor:pointer;
background-color: #5bb75b;
padding:3px 0 3px 0;
border: 1px solid #DCDCDC;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 94%, rgba(226,226,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(94%,rgba(239,239,239,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 94%,rgba(226,226,226,1) 100%); /* W3C */
}

.ads_google{
height: 18px;
width: 50px;
margin-top: -1px;
float: right;
z-index: 999;
position: absolute;
cursor: pointer;
}

.home-tab:hover, .tab-active{
color:white;
background: rgb(255,183,107); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
}

.blink a {
    font-size: 12px;
    white-space: nowrap;
    background: #F3F3F3;
    border: 1px solid #E8E8E8;
    display: inline-block;
    padding: 2px 5px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    text-align: center;
}