<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create post</h1>
<p>
    <a th:href="@{/listPost}">Post list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/createPost}" th:object="${create}" method="post">
    <table>
        <tr>
            <td>Introduce:</td>
            <td><input type="text" th:field="*{introduce}"/></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Context:</td>
            <td><input type="text" th:field="*{context}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" th:field="*{image}"/></td>
        </tr>
        <tr>
            <td>Creator:</td>
            <td><input type="text" th:field="*{creator}"></td>
        </tr>
        <tr>
            <td>FinalEditor:</td>
            <td><input type="text" th:field="*{finalEditor}"></td>
        </tr>
        <tr>
            <td>DateCreate:</td>
            <td><input type="date" th:field="*{dateCreate}"></td>
        </tr>
        <tr>
            <td>DateLast:</td>
            <td><input type="date" th:field="*{dateLast}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${category}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create post"></td>
        </tr>
    </table>
</form>
</body>
</html>